---
import Layout from "../layouts/Layout.astro";

const MOVIES = [
  {
    picker: "adam",
    title: "the mirror",
    date_watched: ["2023-10-20"],
    director: "andrei tarkovsky",
  },
  {
    picker: "marej",
    title: "alien",
    date_watched: ["2023-11-11"],
    director: "ridley scott",
  },
];
---

<Layout title="movies">
  <ul>
    {
      MOVIES.reverse().map(({ picker, title, date_watched, director }) => (
        <li>
          {title}
          <ul>
            <li>picked by: {picker}</li>
            <li>date watched: {date_watched}</li>
            <li>director: {director}</li>
          </ul>
        </li>
      ))
    }
  </ul>
</Layout>

<style></style>
