---
import Layout from "../layouts/Layout.astro";

const MOVIES = [
  {
    picker: "adam",
    title: "the mirror",
    date_watched: ["2023-10-20"],
    director: "andrei tarkovsky",
  },
  {
    title: "killers of the flower moon",
    date_watched: ["2023-11-03"],
    director: "martin scorsese",
    watched_at_movies: true
  },
  {
    picker: "marej",
    title: "alien",
    date_watched: ["2023-11-11"],
    director: "ridley scott",
  },
  {
    picker: "sammy",
    title: "ikuru",
    date_watched: ["2023-12-01"],
    director: "akira kurosawa",
  },
  {
    picker: "nour",
    title: "uncut gems",
    date_watched: ["2023-12-15"],
    director: "safdie brothers",
  },
  {
    picker: "marej",
    title: "blade runner",
    date_watched: ["2023-12-29"],
    director: "ridley scott",
  },
  {
    picker: "adam, marej, sammy",
    title: "poor things",
    date_watched: ["2024-01-13"],
    director: "yorgos lanthimos",
  },
  {
    picker: "adam, marej, sammy",
    title: "iron claw",
    date_watched: ["2024-02-06"],
    director: "sean durkin",
  },
  {
    picker: "adam, marej, sammy",
    title: "the zone of interest",
    date_watched: ["2024-02-09"],
    director: "jonathan glazer",
  }
];
---

<Layout title="movies">
  <p>at every samkoccino night, we attempt to watch a movie together. we also go to the movies together.</p>
  <p>here is the list of all movies we've watched together:</p>
  <ul>
    {
      MOVIES.reverse().map(({ picker, title, date_watched, director, watched_at_movies }) => (
        <li>
          {title}
          <ul>
            {picker && <li>picked by: {picker}</li>}
            <li>date watched: {date_watched}</li>
            <li>director: {director}</li>
            {watched_at_movies && <li>watched at movies</li>}
          </ul>
        </li>
      ))
    }
  </ul>
</Layout>

<style></style>
