---
import Layout from "../layouts/Layout.astro";

const MUSIC = [
  {
    picker: "sammy",
    title: "leak 04-13 (bait ones)",
    date_started: ["2023-10-20"],
    artist: "jai paul",
  },
  {
    picker: "sammy",
    title: "camino del sol",
    date_started: ["2023-10-27"],
    artist: "antena",
  },
  {
    picker: "adam",
    title: "resistance & the blessing",
    date_started: ["2023-11-04"],
    artist: "world's end girlfriend",
  },
  {
    picker: "marej",
    title: "the infamous",
    date_started: ["2023-11-11"],
    artist: "mobb deep",
  },
  {
    picker: "nour",
    title: "new blue sun",
    date_started: ["2023-11-18"],
    artist: "andré 3000",
  },
  {
    picker: "tambi",
    title: "growth & change of drew howard/88glam/88camino",
    date_started: ["2023-11-24"],
    artist: "drew howard",
  },
  {
    picker: "sammy",
    title: "when the poems do what they do",
    date_started: ["2023-12-01"],
    artist: "aja monet",
  },
  {
    picker: "nour",
    title: "debut",
    date_started: ["2023-12-08"],
    artist: "björk",
  },
];
---

<Layout title="music">
  <p>we have our own music club! every week at random, a samkoccino recommends a musical project that we all listen to for that week.</p>
  <p>after every samkoccino recommends a project, we start the cycle all over again. here's the list of all samkoccino music club picks:</p>
  <ul>
    {
      MUSIC.reverse().map(({ picker, title, date_started, artist }) => (
        <li>
          {title}
          <ul>
            <li>picked by: {picker}</li>
            <li>date started: {date_started}</li>
            <li>artist: {artist}</li>
          </ul>
        </li>
      ))
    }
  </ul>
</Layout>

<style></style>
