/* --- SELECTORS --- */
* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* --- GENERAL --- */
.outer-container {
  height: 100vh;
  width: 100vw;
}

.inner-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-body {
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  list-style-type: none;
  overflow: hidden;
}

.page-links li {
  float: left;
}

.page-links li a {
  color: red;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.page-links li a:hover {
  background-color: green;
}

.socials li {
  float: right;
}

.socials li a {
  color: olive;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.socials li a:hover {
  background-color: orchid;
}

.underlined-text {
  text-decoration: underline;
}

/* --- PAGES --- */
/* home */
#home-body {
  justify-content: center;
  align-items: center;
}

#home-body h3 {
  margin-bottom: 5vw;
}

/* members */
#members-body ul {
  list-style-type: none;
}

#members-body ul li {
  padding: 10px;
}

#members-body ul li button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 20px;
}

.member-content {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border: solid 1px black;
  flex-direction: column;
  justify-content: space-between;
}

.member-close-btn {
  float: right;
}

.member-content-body {
  align-items: flex-start;
}

#member-adamccini button {
  color: #02aef0;
}

#member-adamccini button:hover {
  background-color: peru;
}

#member-adoptinni button {
  color: #2ab871;
}

#member-adoptinni button:hover {
  background-color: palevioletred;
}

#member-mario button {
  color: #dc143c;
}

#member-mario button:hover {
  background-color: palegoldenrod;
}

#member-nourioli button {
  color: #77dd77;
}

#member-nourioli button:hover {
  background-color: pink;
}

#member-ramietti button {
  color: #ffffff;
}

#member-ramietti button:hover {
  background-color: #000000;
}

#member-robbhetti button {
  color: #ff33ff;
}

#member-robbhetti button:hover {
  background-color: #89ded3;
}

#member-salami button {
  color: #cccc00;
}

#member-salami button:hover {
  background-color: purple;
}

#member-tambiano button {
  color: #34eb55;
}

#member-tambiano button:hover {
  background-color: blueviolet;
}

#member-zaghetti button {
  color: #31196e;
}

#member-zaghetti button:hover {
  background-color: #9cffaa;
}

/* clothing */
.clothing-item {
  display: inline-table;
  margin: 20px;
  border: 3px solid black;
}

.clothing-item img {
  padding: 20px;
  max-width: 250px;
}

.clothing-item p {
  text-align: center;
}

/* podcast */
.podcast-page-description {
  display: flex;
  justify-content: space-between;
}

.podcast-links {
  list-style-type: none;
}

.podcast-links li {
  float: right;
}

.podcast-links li a {
  color: palevioletred;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.podcast-links li a:hover {
  color: palegreen;
}

.podcast-item {
  display: inline-table;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  max-width: 400px;
}

.podcast-item-description {
  padding: 10px;
}

.podcast-published-date {
  font-style: italic;
}

.podcast-item-links {
  list-style-type: none;
}

.podcast-item-links li {
  float: left;
}

.podcast-item-links li a {
  color: palevioletred;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.podcast-item-links li a:hover {
  color: palegreen;
}

/* games */
.game-item {
  display: inline-table;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  max-width: 500px;
}

.game-img {
  max-width: 200px;
  padding: 20px;
}

/* religion */
@keyframes rotateRight {
  100% {
    transform: rotate(360deg);
  }
}

#holy-book {
  justify-content: center;
  align-items: center;
}

#holy-book img {
  animation: 5s rotateRight infinite linear;
  max-width: 500px;
}

/* --- DEVICES --- */
/* extra small devices (i.e. portrait phones) */
@media (max-width: 575.98px) {
  .page-header {
    font-size: 2.5vw;
  }

  .page-body {
    font-size: 4vw;
  }

  .nav {
    font-size: 3.5vw;
  }

  .page-links li {
    padding: 5px;
  }

  .page-links li a {
    padding: 5px;
  }

  .socials li a {
    padding: 5px;
  }

  #holy-book img {
    max-width: 50%;
  }
}

@media (max-width: 662.98px) {
}

/* small devices (i.e. landscape phones) */
@media (min-width: 576px) and (max-width: 768.1px) {
  .nav {
    font-size: 2vw;
  }

  .page-links li {
    padding: 5px;
  }

  .page-links li a {
    padding: 5px;
  }

  .socials li a {
    padding: 5px;
  }

  #holy-book img {
    max-width: 30%;
  }
}
